[Unit]
Description=Virtualization interface daemon
Conflicts=libvirtd.service virtinterfaced.service virtinterfaced.socket virtinterfaced-ro.socket virtinterfaced-admin.socket
Requires=container-virtinterfaced.socket
Requires=container-virtinterfaced-ro.socket
Requires=container-virtinterfaced-admin.socket
After=network.target
After=dbus.service
After=apparmor.service
After=local-fs.target
After=container-virtqemud.service
BindsTo=container-virtqemud.service
Documentation=man:virtinterfaced(8)
Documentation=https://libvirt.org

[Service]
Type=notify
NotifyAccess=all
Environment=VIRTINTERFACED_ARGS="--timeout 120"
Environment=CONTAINER_NAME=kvm-container
EnvironmentFile=-/etc/sysconfig/container-virtinterfaced
EnvironmentFile=-/etc/default/container-kvm
ExecStart=/usr/bin/podman exec --detach --privledged ${CONTAINER_NAME} /usr/sbin/virtinterfaced $VIRTINTERFACED_ARGS
ExecReload=/usr/bin/podman exec --detach --privledged ${CONTAINER_NAME} /bin/kill -HUP $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
Also=container-virtinterfaced.socket
Also=container-virtinterfaced-ro.socket
Also=container-virtinterfaced-admin.socket
