[Unit]
Description=Libvirt proxy non-TLS IP socket
Before=container-virtproxyd.service
BindsTo=container-virtproxyd.socket
After=container-virtproxyd.socket
Conflicts=libvirtd.socket libvirtd-ro.socket libvirtd-admin.socket libvirtd-tcp.socket libvirtd-tls.socket virtproxyd.socket virtproxyd-admin.socket virtproxyd-ro.socket

[Socket]
ListenStream=16509
Service=container-virtproxyd.service

[Install]
WantedBy=sockets.target
