[Unit]
Description=Libvirt secret local read-only socket
Before=container-virtsecretd.service
BindsTo=container-virtsecretd.socket
After=container-virtsecretd.socket


[Socket]
ListenStream=/run/libvirt/container-virtsecretd-sock-ro
Service=container-virtsecretd.service
SocketMode=0666

[Install]
WantedBy=sockets.target
