[Unit]
Description=Virtualization network daemon
Conflicts=libvirtd.service virtnetworkd.service 
Requires=virtnetworkd.socket
Requires=virtnetworkd-ro.socket
Requires=virtnetworkd-admin.socket
After=network.target
After=firewalld.service
After=iptables.service
After=ip6tables.service
After=dbus.service
After=apparmor.service
After=local-fs.target
After=container-virtqemud.service
BindsTo=container-virtqemud.service
Documentation=man:virtnetworkd(8)
Documentation=https://libvirt.org

[Service]
Type=forking
Environment=VIRTNETWORKD_ARGS="--timeout 120"
Environment=CONTAINER_NAME="kvm-container"
EnvironmentFile=-/etc/kvm-container.conf
EnvironmentFile=-/etc/sysconfig/container-virtnetworkd
ExecStart=/usr/bin/podman exec --detach --privileged ${CONTAINER_NAME} /usr/sbin/virtnetworkd $VIRTNETWORKD_ARGS
ExecReload=/usr/bin/podman exec --detach --privileged ${CONTAINER_NAME} /bin/kill -HUP $MAINPID
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
Also=virtnetworkd.socket
Also=virtnetworkd-ro.socket
Also=virtnetworkd-admin.socket
