[Unit]
Description=Libvirt secret admin socket
Before=container-virtsecretd.service
BindsTo=container-virtsecretd.socket
After=container-virtsecretd.socket


[Socket]
ListenStream=/run/libvirt/container-virtsecretd-admin-sock
Service=container-virtsecretd.service
SocketMode=0600

[Install]
WantedBy=sockets.target
