[Unit]
Description=Libvirt interface local socket
Before=container-virtinterfaced.service


[Socket]
ListenStream=/run/libvirt/container-virtinterfaced-sock
Service=container-virtinterfaced.service
SocketMode=0666
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
