[Unit]
Description=Libvirt nwfilter local socket
Before=container-virtnwfilterd.service


[Socket]
ListenStream=/run/libvirt/container-virtnwfilterd-sock
Service=container-virtnwfilterd.service
SocketMode=0666
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
