[Unit]
Description=Virtual machine lock manager admin socket
Before=container-virtqemud.service
BindsTo=container-virtlockd.socket
After=container-virtlockd.socket

[Socket]
ListenStream=/run/libvirt/container-virtlockd-admin-sock
Service=container-virtlockd.service
SocketMode=0600

[Install]
WantedBy=sockets.target
