[Unit]
Description=Virtualization secret daemon
Conflicts=libvirtd.service virtsecretd.socket virtsecretd.socket virtsecretd-ro.socket virtsecretd-admin.socket
Requires=container-virtsecretd.socket
Requires=container-virtsecretd-ro.socket
Requires=container-virtsecretd-admin.socket
After=network.target
After=dbus.service
After=apparmor.service
After=local-fs.target
After=container-virtqemud.service
BindsTo=container-virtqemud.service
Documentation=man:virtsecretd(8)
Documentation=https://libvirt.org

[Service]
Type=notify
NotifyAccess=all
Environment=VIRTSECRETD_ARGS="--timeout 120"
Environment=CONTAINER_NAME="kvm-container"
EnvironmentFile=-/etc/sysconfig/container-virtsecretd
EnvironmentFile=-/etc/kvm-container.conf
ExecStart=/usr/bin/podman exec --detach --privileged ${CONTAINER_NAME} /usr/sbin/virtsecretd $VIRTSECRETD_ARGS
Restart=on-failure

[Install]
WantedBy=multi-user.target
Also=container-virtsecretd.socket
Also=container-virtsecretd-ro.socket
Also=container-virtsecretd-admin.socket
