[Unit]
Description=Virtual machine lock manager socket
Before=container-virtqemud.service

[Socket]
ListenStream=/run/libvirt/container-virtlockd-sock
SocketMode=0600

[Install]
WantedBy=sockets.target
