[Unit]
Description=Libvirt interface local read-only socket
Before=container-virtinterfaced.service
BindsTo=virtinterfaced.socket
After=virtinterfaced.socket


[Socket]
ListenStream=/run/libvirt/virtinterfaced-sock-ro
Service=container-virtinterfaced.service
SocketMode=0666

[Install]
WantedBy=sockets.target
