[Unit]
Description=Libvirt interface admin socket
Before=container-virtinterfaced.service
BindsTo=virtinterfaced.socket
After=virtinterfaced.socket


[Socket]
ListenStream=/run/libvirt/virtinterfaced-admin-sock
Service=container-virtinterfaced.service
SocketMode=0600

[Install]
WantedBy=sockets.target
