[Unit]
Description=Libvirt secret local socket
Before=container-virtsecretd.service


[Socket]
ListenStream=/run/libvirt/virtsecretd-sock
Service=container-virtsecretd.service
SocketMode=0666
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
