[Unit]
Description=Libvirt storage local socket
Before=container-virtstoraged.service

[Socket]
ListenStream=/run/libvirt/virtstoraged-sock
Service=container-virtstoraged.service
SocketMode=0666
RemoveOnStop=yes

[Install]
WantedBy=sockets.target
